<!-- .container is main centered wrapper -->
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <strong>GORUCK Price Checker</strong>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <table class="u-full-width">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Old price</th>
            <th>Updated</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= image_tag(product.image, height: 20) if product.image %></td>
              <td><%= link_to product.name, 'http://www.goruck.com' + product.link %></td>
              <td><%= number_to_currency(product.price) %></td>
              <td><%= number_to_currency(product.old_price) %></td>
              <td><%= product.updated_at.stamp("Sun, Jan 1st at 01:00 AM") %></td>
              <%#= link_to 'Show', product %>
              <%#= link_to 'Edit', edit_product_path(product) %>
              <%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
